{% extends 'base.html' %}
{% block title %}Profile{% endblock title %}

{% block body %}

<form>
 <div class="container"  >
    <h1>Profile</h1>

     <b> Username :</b>{{ customuser }}<br>
     <b>Email i'd :</b>{{ customuser.email}}<br>
     <b>Gender : </b>{{ customuser.gender}}<br>
     <b>Address :</b> {{ customuser.address}}<br>
     <b>City :</b> {{ customuser.city}}<br>
     <b>State :</b>{{ customuser.state}}<br>
     <b>Contact Number :</b>{{ customuser.contact_number}}<br>


<a href="{% url 'account:edit_profile' user.pk %}" type="button" class="btn btn-success">
            Edit Profile <span class="glyphicon glyphicon-play"></span></a>
</div>
</form>
{% endblock body %}