{% extends 'base.html' %}

{% block title %}Product OrderSummary{% endblock title %}
<style type="text/css">
.center {
  margin: auto;
  width: 50%;
  border: 1px solid black;
  padding: 10px;
}
</style>
{% block body %}
<br>
<div class="card text-center">
    <div class="card-body">
               <h5><b> Your Order Has Been Placed and  Deliver in within next 7 days.
        <br></b></h5>

        <br> <div class="d-flex justify-content-center links">
                Give Your FeedBack!!!<a href="{% url 'product:feedback' user.pk %}"> FeedBack</a>
            </div>

  </div>

</div>
{% endblock body %}
