{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %} <!-- About us -->

<!--<div class="container-fluid px-0 mb-3">
    <img src="https://source.unsplash.com/1200x400/?about,shop" class="d-block w-100 mx-0" alt="...">
</div>-->
<div class="container py-5 mb-5">
    <h2 class="text-center">About Us</h2>
  </div>
    <p>
										The About Us page of your shop is vital because it’s where users go when first trying to determine a level of trust. Since trust is such an important part of selling online, it’s a good idea to give people a fair amount information about yourself and your shop. Here are a few things you should touch on:
									</p>

<!-- Card -DEck -->
<!-- About us -->
<div class="card-deck mb-4 py-5" >
  <div class="card">
      <div class="card-body">
      <h5 class="card-title">About Us</h5>
      <li class="list-unstyled">
          <a href="/contact">Contact us</a>
      </li>
          <li class="list-unstyled">
              <a href="account.html">Map Site</a>
    </li>
      </div>
    <div class="card-footer">
      <!--<small class="text-muted">Last updated 3 mins ago</small>-->
    </div>
  </div><!-- Information -->
  <div class="card">
      <div class="card-body">
      <h5 class="card-title">Information</h5>
      <li class="list-unstyled">
          <a href="#">Advance Search </a>
      </li>
          <li class="list-unstyled">
              <a href="#">Shop By Brand</a>
    </li>
    </div>
     <div class="card-footer"></div>
  </div><!-- account -->
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Account</h5>
    <li class="list-unstyled">
          <a href="#">Order History</a>
      </li>
          <li class="list-unstyled">
              <a href="#">Sign in</a>
    </li>
        <li class="list-unstyled">
              <a href="#">Cart Page</a>
    </li>
    </div>
    <div class="card-footer"></div>
  </div>
</div>
			<div class="footer-content footer-content-bottom clearfix" align="Center">
				<div class="container">
					<div class="copyright col-md-12">
						<a href="about.html">Jewelry shop</a>.@ All Rights Reserved.
					</div>

				</div>
			</div>
</div>
{% endblock body %}


