{% extends 'base.html' %}

{% block title %}Home{% endblock title %}
{% load static %}
{% block body %}

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner my-2">
    <div class="carousel-item active" style="height: 35em;">
      <img src="{% static 'img/home4-slide1e11bf.jpg'%}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Welcome To Jewellary Shop</h5>
        <!--<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
      </div>
    </div>
    <div class="carousel-item "style="height: 35em;">
      <img src="{% static 'img/slid-2.jpg'%}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>World best Collection of Jewellary</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
  <div class="carousel-item" style="height: 35em;">
      <img src="{% static 'img/slid-1.jpg'%}"class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Inaugurated by Donald Trump</h5>
        <p>This Jewellary shop was Inaugurated by Donald Trump .</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>




  <div class="container my-3">
<h1 class="my-4 text-center">Top Collections</h1>
    <div class="row">
      <div class="col-md-4" style="height: 6em;">
        <div class="card mb-4 shadow-sm">
          <img src="{% static 'img/4_b760c006-b403-4035-ba94-b19cb0ff8214_1024x1024c150.jpg'%}" class="d-block w-100" alt="...">
          <div class="card-body">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
          </div>
        </div>
      </div>


      <div class="col-md-4" style="height: 6em;">
        <div class="card mb-4 shadow-sm">
          <img src="{% static 'img/product2.jpg'%}" class="d-block w-100" alt="...">
          <div class="card-body">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="{% static 'img/product10.jpg'%}" class="d-block w-100" alt="...">
          <div class="card-body">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="{% static 'img/6_2b8df768-6599-4e41-ae4c-2d6afd2b1d95_1024x10247cf8.jpg'%}" class="d-block w-100" alt="...">
          <div class="card-body">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="{% static 'img/product4.jpg'%}" class="d-block w-100" alt="...">
          <div class="card-body">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="{% static 'img/product5.jpg'%}" class="d-block w-100" alt="...">
          <div class="card-body">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock body %}
